.faq-accordion {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid rgb(173, 173, 173);
  margin-bottom: 10px;
  overflow: hidden;
}

.question{
  display: flex;
  align-items: center;
  gap: 20px;
}

.index{
  font-size: x-large;
  color: #2405F2;
  font-weight: bold;
} 

.faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}


.faq-answer {
  padding: 10px 50px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-size: smaller;
}

.faq-item.active .faq-answer {
  max-height: 500px;
}
